<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get an api key</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <a href="https://github.com/j0912345/primitive-cloud-server-with-api/wiki/securing-a-project">(how to set an owner for a project)</a></label>
    <hr>
    <form method="post" autocomplete="off">
        <label>the id of a project that has you as the owner:</label><br>
        <input type="text" name="project id"><br><br>
        <button name="submit btn" type="submit">get api key!</button>
    </form>
</body>
</html>