<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookie api user id</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
        <baseTXT>NOTE: this page uses cookies that are strictly nessesary for it to work correctly.<br>by pressing the button to get your user id cookie you allow us to use cookies.</baseTXT>
        <br><br>
        <hr>
        <br>
        <warnTXT>this id is used for making api keys. people with this id can make api keys.<br>those api keys allow them to edit/read cloud variables in your projects with user id api keys enabled.<br>do NOT show this id while streaming!</warnTXT>
        <form id="get_uid_cookie">
            <button name="get_uid" value="true">get cookie id</button>
        </form>
        <br>
        <baseTXT>cookie user id: (triple click it to select it)</baseTXT>
        <br>
        <codeTXT>{{c_uid}}</codeTXT>
</body>
</html>